<div class="container">
  <header><h1>Bats</h1></header>
  <% @bats.each do |bat| %>

  	<div>
      ID: <%= bat.id %> <br>
  		Name: <%= bat.name %> <br>
  		Description: <%=  bat.description %>
  	</div><br>

  <% end %>
</div>
